body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
:root {
  --font-color1: #333333;
  --font-color2: #3a3a3a;
  --font-color3: #ffffff;
  --font-color4: #444444;
  --background1: #efefef;
  --background2: #ffffff;
  --background-color1: #1e9aef;
  --background-color2: #f84848;
  --background-color3: #29b864;
  --background-color4: #ff5521;
  --background-color5: #444444;
  --shadow1: #cccbcb;
}
#card__product,
#background, #card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#card__product,
#card__info,
#background {
  box-sizing: border-box;
}
#background {
  width: 100%;
  height: 100%;
  background-color: var(--background1);
  background-size: cover;
  justify-content: flex-start;
  box-sizing: border-box;
}
main {
  box-shadow: 0px 0px 34px 1px rgba(17, 17, 17, 0.5);
  margin: 40px;
}
#card__product, #card{
  width: 430px;
  height: 300px;
  position: relative;
}
#card__product {
  overflow: hidden;
}
.card__product__shoe{
  display:none;
  position: absolute;    
  width: 450px;
  transform: rotate(353deg);
}
#C__D__shoe1{
  display: block;
}
#card__product__background__original {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(1, 55, 174, 1) 0%,
    rgba(34, 170, 249, 1) 100%
  );
  /* background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(184,50,35,1) 0%, rgba(212,85,82,1) 100%);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(49,133,123,1) 0%, rgba(98,206,94,1) 100%);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(219,64,31,1) 0%, rgba(220,162,44,1) 100%);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(15,15,15,1) 0%, rgba(89,89,89,1) 100%); */
  position: absolute;
  width: 430px;
  height: 300px;
}
@keyframes background-changer-transition {
  0% {
    right: 430px;
  }
  50% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}
#card__product__background__next {
  position: absolute;
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(1, 55, 174, 1) 0%,
    rgba(34, 170, 249, 1) 100%
  );
  width: 430px;
  height: 300px;
  right: 430px;
  animation: none;
}

#card__product__share__button,
#card__product__logo,
#card__product__text {
  position: absolute;
}
#card__product__logo {
  top: 15px;
  left: 15px;
}
#card__product__share__button {
  box-shadow: inset 1px 1px 0px 5px var(--background1);
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  padding: 0;
  top: 15px;
  right: 15px;
}
#card__product__share__button__svg {
  width: 100%;
  border-radius: 50px;
}
#card__product__text {
  margin: 0;
  font-size: 170px;
  font-weight: 700;
  color: var(--font-color3);
  opacity: 0.2;
}
#card__info {
  background-color: var(--background2);
  position: relative;
  width: 430px;
  height: 530px;
  padding: 30px;
}
section {
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  color: var(--font-color1);
  display: flex;
}
#card__tag {
  margin-left: 5px;
  height: 25px;
  padding: 0 5px 0 5px;
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color3);
  background-color: var(--background-color1);
}
h2 {
  margin: 10px 0 0px 0;
  font-size: 19px;
  font-weight: 600;
  color: var(--font-color2);
}
h3 {
  margin: 0 0 10px 0;
  font-size: 19px;
  font-weight: 500;
  color: var(--font-color4);
}
h4 {
  margin: 0 0 10px 0;
  font-size: 17px;
  font-weight: 400;
  color: var(--font-color4);
}
.color__buttons {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 8px 15px 8px;
  border: 0;
  box-sizing: border-box;
}
#card__info__color__buttons {
  display: flex;
  align-items: center;
}
#color__button1 {
  background-color: var(--background-color1);
  box-shadow: 0px 0px 5px 2px var(--shadow1);
  border: 5px solid var(--background2);
}
#color__button2 {
  background-color: var(--background-color2);
}
#color__button3 {
  background-color: var(--background-color3);
}
#color__button4 {
  background-color: var(--background-color4);
}
#color__button5 {
  background-color: var(--background-color5);
}
.size__buttons {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  border: 0;
  font-size: 18px;
  background-color: unset;
}
#size__button3 {
  background-color: var(--background-color1);
}
#card__info__buy {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 0;
}
#card__info__buy__button {
  font-size: 18px;
  width: 180px;
  height: 50px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  color: var(--font-color3);
  background-color: var(--background-color1);
  border: 0;
}
#card__info__buy__button__cart {
  max-height: 30px;
  width: auto;
}
#card__info__buy__button:hover,
#card__product__share__button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
@media screen and (min-width:1024px) {
    main{
        display:flex;
        box-shadow: none;
    }
    #card{
        box-shadow:-10px 1px 41px 5px rgba(0,0,0,0.25);
        align-self: center;
    }
    #card__product, 
    #card, #card__product__background__original, 
    #card__product__background__next {
        height: 475px;
    }
    #card__info{
        box-shadow:10px 1px 41px 5px rgba(0,0,0,0.25);
    }

    .card__product__shoe{
        top: 65px;
        right: 5px;
        width:600px;
        transform: rotate(340deg);
    }
    #card__product__text {
        margin: 30px 0 0 0;
        font-size: 170px;
        font-weight: 700;
        color: var(--font-color3);
        opacity: 0.2;
      }
}
